body{
    background-color: rgb(153, 214, 39);
    height: 100vh;
    width:100vw;
}
main {
    width:500px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
}
.tile {
    width: 25px;
    height: 25px;
    float: left;
}
.tile-space{
    background-color:rgb(244, 96, 244);  
}
.tile-wall{
    background-image:url("../images/wall.png");
}
.tile-goal{
    background-color:rgb(168, 35, 46); 
}

.entity-block{
    background-color:rgb(47, 0, 255);  
    
}    
.entity-goal{
}

.entity-player{
    background-image:url("../images/FishLightGreen.png");
    background-size: contain;
}
