body{
    background-color: aquamarine;
    height: 100vh;
    width:100vw;
}
main {
    width:500px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
}
.block {
    width: 25px;
    height: 25px;
    float: left;
}
.entity-player{
    background-image:url("../images/FishLightBlue.png");
    background-size: contain;
}
.entity-block{
    background-color:red;  

}    
.entity-goal{
}

.tile-wall{
    background-image:url("../images/wall.png");
}
.tile-space{
    background-color:sandybrown;  
}
.tile-goal{
    background-color:gold; 
}
